<!--<div class="team-members-container">-->
<!--  {{ .Inner }}-->
<!--</div>-->

<div class="team-container">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">
    </p>
    <p class="text-blk section-subhead-text">
    </p>
    <div class="responsive-container-block">
	  <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/HWrn4dv6/Benedikt-Wirth.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Dr. Benedikt Wirth</p>
                  <div class="social-media-links">
                    <a href="https://scholar.google.com/citations?user=JxxJkaYAAAAJ&hl=en&oi=ao" target="_blank">
                      <img
                        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  German Research Center for Artificial Intelligence, Saarbrücken, Germany
				  <a href = "mailto: benedikt.wirth@dfki.de">benedikt.wirth@dfki.de</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/HLmqPkkb/phillip.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Dr. Philipp Müller</p>
                  <div class="social-media-links">
                    <a href="https://scholar.google.com/citations?user=RmcYRGAAAAAJ&hl=en&oi=ao" target="_blank">
                      <img
                        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  German Research Center for Artificial Intelligence, Saarbrücken, Germany
				  <a href = "mailto: philipp.mueller@dfki.de">philipp.mueller@dfki.de</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/KzSbPh1H/4508-AC8-C-B4-EA-4218-94-E1-BE69-B0-C6-AD94.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Dr. Laura Ferrari</p>
                  <div class="social-media-links">
                    <a href="mailto:laura.ferrari@inria.fr" target="_blank">
                      <img
                        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  Scuola Superiore Sant’Anna, Pisa, Italy & INRIA, Sophia Antipolis, France
				  <a href = "mailto: laura.ferrari@inria.fr">laura.ferrari@inria.fr</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/25BxvQDw/Natia-Kukhilava.png" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Natia Kukhilava</p>
                  <div class="social-media-links">
                    <a href="https://twitter.com/NatiaKukhilava" target="_blank">
                      <img
                        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg"
                      />
                    </a>
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  Muskhelishvili Institute of Computational Mathematics, Tbilisi, Georgia
				  <a href = "mailto: kukhilava.natia@gtu.ge">kukhilava.natia@gtu.ge</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
	  <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/kgqft1Mv/426629030-1064221794636450-2246986745679717587-n.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Tatia Tsmindashvili</p>
                  <div class="social-media-links">
                    <a href="https://twitter.com/TatiaTsmindash1" target="_blank">
                      <img
                        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  Muskhelishvili Institute of Computational Mathematics, Tbilisi, Georgia
				  <a href = "mailto: tsmindashvili.tatia@gtu.ge">tsmindashvili.tatia@gtu.ge</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="team-card_container">
            <div class="img-wrapper">
              <img class="team-img" src="https://i.postimg.cc/9Qxm6krx/images.jpg" />
            </div>
            <div>
              <div class="member_container">
                <div class="member-info">
                  <p class="text-blk name">Dr. Francois Bremond</p>
                  <div class="social-media-links">
                    <a href="https://scholar.google.com/citations?user=h-oGBzsAAAAJ&hl=en&oi=ao" target="_blank">
                      <img
                        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg"
                      />
                    </a>
                  </div>
                </div>
                <p class="text-blk position">
                  INRIA, Sophia Antipolis, France
				  <a href = "mailto: francois.bremond@inria.fr">francois.bremond@inria.fr</a>
                </p>
              </div>
            </div>
          </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>